:root {
  --fstBlue: #060246;
  --secBlue: #178DE2;
  --terBlue: #4065E7;
  --compBP: #672FF1;
  --fstPrpl: #8C19EB;
  --secPrpl: #A717E0;
  --terPrpl: #C210D6;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1,
h2 {
  font-weight: 900 !important;
}

body {
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  z-index: 2;
}

.arc-logo {
  width: 120px;
}

.arc-img {
  background-color: pink;
  height: 80px;
  flex: 0 1 100px; 
}

.nav-bar-div {
  /* background-color: wheat; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 60%;
  width: 60%;
}

.nav-bar {
  /* background-color: wheat; */
  display: flex;
  padding: 10px 0;
  width: 620px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  min-width: 327.38px;
  width: 100%;
  margin: unset !important;
  padding: unset !important;
}

.nav-links {
  /* color: white; */
  color: var(--fstPrpl);
  text-decoration: none;
  font-weight: 600;
  transition: color .2s ease-in-out;
}

.nav-links:hover {
  color: var(--terPrpl);
}

#phone-container {
  background-image: linear-gradient(45deg, var(--terBlue), var(--fstPrpl) 70% , var(--fstPrpl));
  border-radius: 5px;
}

#phone-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 35px;
  border-radius: 5px;
  min-width: 140px;
  cursor: pointer;
  transition: all 0.6s;
}

#phone-btn > div {
  padding-left: 10px;
}

#phone-btn > div > p {
  margin: 0;
  padding: 0;
}

#pTitle {
  font-size: smaller;
  margin-bottom: -5px !important;
}

#phone-btn:hover {
  background-color: var(--terBlue);
}

#pt1 {
  background-image: linear-gradient(45deg, var(--terBlue), var(--fstPrpl) 60% , var(--fstPrpl));
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12% 0 3% 0;
}

#main-info {
  /* background-color: red; */
  width: 50%;
  height: fit-content;
  min-width: 250px;
  /* padding: 0 40px; */
  text-align: center;
}

#main-info > h1 {
  margin: 0px;
  font-size: calc(18px + 1vw);
}

#main-info > p {
  font-size: calc(10px + 1vw);
  margin: 0 0 15px 0;
}

#pt1-video {
  background-color: black;
  width: 48%;
  height: 300px;
  margin: 40px 0;
}

.btn-container {
  background-image: linear-gradient(to right, var(--fstPrpl) , var(--terPrpl));
  border-radius: 5px;
}

.contact-btn {
  background-color: unset;
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 12px 60px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.6s;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--fstPrpl);
}

/* End part 1 */
/* ------------------------------------------------------------------------------------------ */

/* #pt2 {
  background-image: url("src/img/about-back.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 6rem;
}

#solutions-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0 1rem 6rem;
}

#solutions-video > img {
  width: 100%;
}

#solutions-info {
  width: 100%;
  height: fit-content;
  min-width: 250px;
  padding: 0px 8rem 1rem 2rem;
  text-align: start;
}

#solutions-info > h2 {
  margin: 0px;
  font-size: calc(18px + 2vw);
}

#solutions-info > p {
  font-size: calc(10px + 0.6vw);
} */

/* End part 2 */
/* ------------------------------------------------------------------------------------------ */

/* #pt3 {
  background-image: url("src/img/services-back.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

#pt3 > h2 {
  margin-top: 0px;
  margin-bottom: 2rem;
  font-size: calc(25px + 1.5vw);
}

#services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 320px;
  margin: 20px;
}

.service-img {
  width: 320px;
  height: 215px;
}

.service-info {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.service-header > * {
  margin: 16px;
}

.info {
  overflow: hidden;
  background-color: var(--green);
  max-height: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.service-info:hover > .info {
  max-height: 180px;
  padding: 10px;
  display: flex;
} */

/* End part 3 */
/* ------------------------------------------------------------------------------------------ */

#pt2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  /* height: 700px; */
  color: black;
}

#pt2 > p {
  color: var(--fstBlue);
  margin-bottom: 2rem;
  width: 80%;
  font-size: calc(16px + 1vw);
  font-weight: 600;
  text-align: center;
}

#pt2 > img {
  width: 80%;
  height: 80%;
}

/* End part 2 */
/* ------------------------------------------------------------------------------------------ */

#presencia-container {
  background-color: black;
  width: 80%;
  height: 400px;
  margin-bottom: 40px;
}

.btn-container-p {
  background-image: linear-gradient(45deg, var(--terBlue), var(--fstBlue) 80% , var(--fstBlue));
  border-radius: 5px;
}

.contact-btn-p:hover {
  background-color: var(--terBlue);
}

/* End part map */
/* ------------------------------------------------------------------------------------------ */

#pt3 {
  background-image: linear-gradient(45deg, var(--fstBlue), var(--terBlue) 150%,  var(--terBlue));
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

#pt3 > h2 {
  margin-top: 0px;
  margin-bottom: 2rem;
  font-size: calc(18px + 1vw);
}

#services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.service {
  width: 40%;
  height: 340px;
  margin: 5px;
}

#china-mex {
  background-color: green;
}

#arcadia {
  background-color: var(--fstBlue);
}

#cargame {
  background-color: orange;
}

#zeit {
  background-color: gray;
}

/* End part 3 */
/* ------------------------------------------------------------------------------------------ */

#pt4 {
  /* background-image: url("src/img/proceso-back.png"); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 2rem;
  text-align: center;
}

#pt4 > h2 {
  color: var(--fstBlue);
  font-size: calc(18px + 1vw);
  width: 40%;
  min-width: 300px;
  margin-bottom: 100px;
}

#overflow-img {
  width: 90%;
  margin-bottom: 80px;
}

#overflow-img > img {
  width: 100%;
}

.btn-container-pro {
  background-image: linear-gradient(45deg, var(--terBlue), var(--fstPrpl) 70% , var(--fstPrpl));
  border-radius: 5px;
}

/* .contact-btn-pro:hover {
  background-color: var(--terBlue);
} */

/* End part 4 */
/* ------------------------------------------------------------------------------------------ */

#pt5 {
  background-color: var(--compBP);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 3rem 15% 8% 10%; */
  height: 800px;
}

#pt5 > h2 {
  font-size: calc(18px + 1vw);
  margin-top: 5%;
  font-weight: bold;
  text-align: center;
}

#testimonios {
  background-color: black;
  width: 100%;
  height: 40%;
}

/* End part 5 */
/* ------------------------------------------------------------------------------------------ */

#pt6 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

#pt6 > h2 {
  font-size: calc(18px + 1vw);
  margin: 0 0 20px 0;
  max-width: 350px;
  color: var(--fstBlue);
  font-weight: bold;
  text-align: center;
}

#pt6 > p {
  font-size: calc(14px + .5vw);
  color: var(--fstBlue);
  font-weight: bold;
  text-align: center;
}

#benefit-main {
  width: 50%;
  margin: 50px 0;
}

.benefit-container {
  /* background-color: var(--secBlue); */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.benefit {
  /* background-color: var(--compBP); */
  display: flex;
  flex-direction: column;
  width: 95%;
}

.benefit > p {
  color: var(--fstPrpl);
  font-weight: bold;
  margin: 0;
}

.benefit > span {
  color: gray;
  margin-top: 10px;
}

/* End part 6 */
/* ------------------------------------------------------------------------------------------ */

#pt7 {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 3rem 5%;
}

#news {
  display: flex;
}

#posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.post {
  flex: 0 1 300px;
  margin: 5px;
}

#image-posts {
  display: flex;
  justify-content: space-evenly;
}

#image-posts > div {
  background-color: black;
  width: 40%;
  height: 300px;
}

/* End part 7 */
/* ------------------------------------------------------------------------------------------ */

footer {
  background-image: linear-gradient(45deg, var(--fstBlue), var(--terBlue) 150%,  var(--terBlue));
  padding: 5% 1rem;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-logo {
  background-color: black;
  width: 30%;
  height: 100px;
  margin: 30px 0;
}

/* End footer */
/* ------------------------------------------------------------------------------------------ */

@media screen and (max-width: 350px) {
  .nav-bar > ul {
    min-width: 310px;
  }

  #pt3 {
    padding: 2rem 0 !important;
  }

  .service {
    width: 100%;
  }

  .service-img {
    width: 100%;
    height: 180px;
  }
}

@media screen and (max-width: 750px) {
  .nav-bar {
    margin: 10px 0;
  }

  main > div {
    width: 100vw;
  }

  #pt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px 10% 200px 10% !important;
    /* height: 700px; */
  }

  #main-info {
    background-color: unset;
    text-align: center;
    width: 100%;
  }

  #main-info > h1 {
    font-size: calc(22px + 3vw);
    margin-bottom: 12px;
  }

  #main-info > p {
    font-size: calc(15px + 1.45vw);
  }

  /* #pt2 {
    padding: 1rem 0 !important;
  }

  #solutions-video {
    padding: 0;
    margin: 0 !important;
  }

  #solutions-info {
    text-align: center;
  }

  #solutions-info > p {
    font-size: calc(12px + 1vw);
  }

  #pt3 {
    padding: 2rem;
  } */

  #pt2 {
    padding: 10% 0;
  }

  #pt2 > img {
    width: 90%;
  }

  #pt4 {
    padding: 2rem 0;
    width: 100vw;
  }

  #pt4 > h2 {
    width: 80%;
    min-width: unset;
  }

  #overflow-img {
    overflow-x: scroll;
  }

  #overflow-img > img {
    width: unset;
  }

  #pt5 {
    background-size: 100%, auto;
    padding: 3rem 10%;
  }

  #services-container {
    width: 100%;
  }

  #img4 {
    width: 100%;
  }

  #accordion-container {
    width: 100%;
  }

  #form-container {
    width: 100%;
    padding: 2rem;
  }

  #form-container > h2 {
    font-size: calc(30px + 2vw);
  }

  #arc-form {
    margin: 30px 0px;
  }

  #links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    margin: unset;
  }

  #links > a {
    margin: unset;
  }

  #info-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  #about {
    flex-direction: column;
    height: unset;
  }

  #info-redes {
    width: 100%;
    margin-bottom: 30px;
  }

  #ar {
    margin-top: 20px;
  }

  .modal-contents {
    width: 90% !important;
  }
}

@media screen and (max-width: 1300px) {
  #pt1 {
    padding: 25% 10% 20% 10%;
  }

  /* #pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  } */

  #solutions-video {
    height: 60vw;
    width: 90vw;
    margin-bottom: 2rem;
  }

  #solutions-info {
    width: 90%;
    padding: 1rem;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#formModalContainer {
  margin: 20px;
}

.modal-contents {
  background-color: black;
  margin: auto;
  border: solid rgb(124, 124, 124) 2px;
  padding: 20px;
  width: 30%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--secBlue);
  text-decoration: none;
  cursor: pointer;
}
